{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
{% include 'includes/modal.html' %}

<div class="container-fluid min-vh-100 main-content">
    <div class="row h-100">
        <div class="col-lg-6 d-md-block my-auto welcome-msg">
            <div class="welcome-msg-wrapper">
                <div class="p-5">
                    <h2> Find Your
                    </h2>
                    <h2 class="next-book"><i class="fa-solid fa-arrow-right-long mr-4"></i> Next Book</h2>
                    <p> Explore great books full of lovable
                        characters, playful stories, and beautiful
                        illustrations</p>
                    <div class="my-4 welcome-msg-btn">
                        <h4>
                            <a href="{% url 'books' %}" class="btn-style btn">Shop
                                Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>


{% endblock %}