.accounts-btns{
    width: 75%;
    font-size: 1.3rem;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.border-th-orders > tr{
    border-bottom: 3px solid black;
}

.border-th-orders > tr > th{
    border-top: none;
}

.order-history{
    max-height: 80vh;
    overflow: auto;
}

@media only screen and (max-width: 668px){
    .accounts-btns{
        width: 100%;
        font-size: 1rem;
    }

    .order-history-links > a{
        display: block !important;
        margin-top: 10px;
    }

}