@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html{
    height: 100%;
}

body{
    background: url('/media/background_image.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #252525;
    font-family: 'Work Sans',sans-serif;
    font-size: 17px;
}

.message-container{
    position: fixed;
    top: 85px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper{
    height: 2px;
}


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link, .nav-link > a,
footer h6,
.welcome-msg-wrapper h2,
.logo-font{
    font-family: 'Roboto Slab', sans-serif;
}

.update-link,
.delete-item{
    cursor: pointer;
}

/* NAVBAR */


.navbar,
.dropdown-menu{
    background-color: #41484a;
    backdrop-filter: blur(5px);
}

.dropdown-menu{
    background-color: #4c4c4ccc;
}

.navbar-brand,
.modal-title {
    color: #f3f365;
    text-decoration: overline;
    font-weight: 600;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand:hover{
    color: white;
    text-decoration: overline;
}

.navbar-collapse{
    width: 100%;
    padding-bottom: 5%;
    padding-top: 2%;
}
 
.nav-bar-links{
    display: flex;
    flex-basis: auto;
    width: 100%;
}


.nav-link, .nav-link > a, 
.dropdown-menu > a{
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 8px;
}

.nav-link:hover{
    color: white;
    animation: shaking 0.40s ease-in-out;
}

@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }


.navbar-toggler-icon > i {
    color: white;
    font-size: 2.3rem;
}

.dropdown-toggle::after {
    content: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem!important;
    letter-spacing: 1px;
}

/* USER DROPDOWN  */

.account-dropdown {
    left: -44px !important;
}

/* ACCOUNTS */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


/* FOOTER */

footer{
    background-color: #41484a;
}

footer h6{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.footer-link{
    color: #f3f365;
}

.footer-link:hover{
    color: #fff;
}



/* Home Page */

.main-content > .row{
    margin-right: 5%;
    margin-left: 5%;
}
.carousel-control-next, .carousel-control-prev{
    opacity: unset!important;
}
.carousel-item p{
    font-size: 1.2rem;
}

.next-book{
    margin-left: 8%;
}

.header-container{
    padding-top: 96px;
}

.welcome-msg div:first-child{
    padding-right: 15%;
}
.welcome-msg h5{
    line-height: 1.5;
}

.welcome-msg-wrapper{
    width: fit-content;
    background-color: #ffffff80;
}

.welcome-msg-wrapper h2{
    font-style: italic;
    font-size: 3.2rem;
}

.welcome-msg-wrapper p {
    font-size: 1.5rem;
    padding-top: 5px;
}


.btn-style{
    border: 1px solid black;
    color: #252525;
    font-size: 18px;
    background-color: white;
}

.btn-style:hover{
    background-color: #444444;
    color: white;
}


/* Modal */

.model-custom{
    background: url('/media/modal-bg.jpg') no-repeat center center;
    background-size: cover;
    border: 0;
    width: 100%;
}

.modal-header {
    background-color: #1A1A25;
    border: none;
    letter-spacing: 2px;
}

.modal-header .close{
    margin: -2rem -1.5rem -1.5rem auto;
    background-color: black;
    padding: 2px;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.modal-header .close:hover{
    background-color: white;
    color: black;
}

.close{
    opacity: 1!important;
}


.modal-body{
    background-color: #00000070;
}

.modal-body p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

.modal-body p:nth-child(2){
    font-size: 2.2rem;
    letter-spacing: 3px;
}

/* Book Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* All Books page */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Media query */

@media only screen and (max-width: 1030px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem!important;
    }

    .welcome-msg-wrapper h2 {
        font-size: 2.5rem;
    }

    .welcome-msg-wrapper .p-5 {
        padding: 1rem!important;
    }

    .welcome-msg-wrapper p {
        font-size: 1.5rem;
    }

    .carousel-display{
        display: none;
    }
}


@media only screen and (max-width: 1000px) {

    .navbar-nav .nav-link,
    .footer-link {
        width: 25%;
    }

 
    .header-container{
        padding-top: 80px;
    }

    .carousel-display{
        display: none;
    }

     
}


@media only screen and (max-width: 600px) {

    .main-content > .row{
        margin: 0;
        padding: 0;
    }

    .welcome-msg-wrapper h2{
        font-size: 2rem;
    }

    .welcome-msg div:first-child {
        padding-right: 0%;}

    .welcome-msg-wrapper p{
        font-size: 1rem;
    }

    .btn-style {
        font-size: 14px;
    }

   .modal-title {
    font-size: 1.7rem;
}
    
    .modal-body p{
        font-size:1rem;
    }

    .modal-body p:nth-child(2){
        font-size: 2rem;
        letter-spacing: 3px;
    }

}

