<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-lg-none">
        <li class="nav-item d-block d-lg-none">
            <a class="navbar-brand navbar-collapse text-uppercase text-center"
                href="{% url 'home' %}">joyfulbookstore</a>
            <a class="logo-font nav-link mx-3" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="{% url 'books' %}">All Books</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdownMobile" role="button"
                data-toggle="dropdown" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMobile">
                <a class="dropdown-item" href="{% url 'books' %}?category=board_books">Board Books</a>
                <a class="dropdown-item" href="{% url 'books' %}?category=picture_story_books">Picture Story
                    Books</a>
                <a class="dropdown-item" href="{% url 'books' %}?category=first_readers">First Readers</a>
                <a class="dropdown-item" href="{% url 'books' %}?category=early_readers">Early Readers</a>
                <a class="dropdown-item" href="{% url 'books' %}?category=fiction_books">Fiction Books</a>
                <a class="dropdown-item" href="{% url 'books' %}?category=non_fiction_books">Non Fiction
                    Books</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" href="#" id="SpecialOffersMobile" role="button"
                data-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu" aria-labelledby="SpecialOffersMobile">
                <a class="dropdown-item" href=" {% url 'books' %}?new=true">New arrivals</a>
                <a class="dropdown-item" href="{% url 'books' %}?on_sale=true">Sale</a>
            </div>
        </li>

    </ul>
</div>