<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-lg-none">
        <li class="nav-item d-block d-lg-none">
            <a class="navbar-brand navbar-collapse text-uppercase text-center"
                href="{% url 'home' %}">joyfulbookstore</a>
            <a class="logo-font nav-link mx-3" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="{% url 'books' %}">All Books</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Board Books</a>
                <a class="dropdown-item" href="#">Pitcure Story Books</a>
                <a class="dropdown-item" href="#">First Reads</a>
                <a class="dropdown-item" href="#">Early Readers</a>
                <a class="dropdown-item" href="#">Fiction Books</a>
                <a class="dropdown-item" href="#">Non Fiction Books</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Sale</a>
                <a class="dropdown-item" href="#">New arrivals</a>
            </div>
        </li>

    </ul>
</div>