<div class="modal fade" id="ShippingModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content text-left">
            <div class="modal-header logo-font text-center">
                <h3 class="modal-title text-uppercase w-100">JoyfulBookstore</h3>

            </div>
            <div class="modal-body">

                <h2 class="text-center">Shipping &#38; Delivery Policy</h2>
                <p>Please carefully review our Shipping & Delivery Policy when purchasing our products. This policy
                    will apply to any order you place with us.</p>

                <div>

                </div>

                <h3 class="text-center mt-4">Wat are my shipping &#38; deivery options?</h3>
                <p>We offer various shipping options. In some cases a third-party supplier may be managing our inventory
                    and will be responsible for shipping your products.</p>
                <h5 class="mt-3 font-weight-bold"> Free Shipping</h5>
                <p>We offer free shipping on orders over €20.</p>
                <h5 class="mt-3 font-weight-bold">Shipping Fees</h5>
                <p>Standard : 3-5 Business Days - €3</p>
                <p>We will follow up after you have placed the order with any additional shipping
                    information.</p>
                <h3 class="mt-4">Do you deliver internationally?</h3>
                <p>We do not offer international shipping.</p>
                <h3 class="text-center mt-4">Are there other shipping restrictions?</h3>
                <p>Orders only ship on business days, which are Monday -
                    Friday.</p>
                <h3 class="text-center mt-4">What happens if my order is delayed?</h3>
                <p>If
                    delivery is delayed for any reason we will let you know as soon as possible and will
                    advise you of a revised estimated date for delivery.</p>
                <h3 class="text-center mt-4">How can you contact us about this policy?
                </h3>
                <p>If you
                    have any further questions or comments, you may contact us by: joyfulbookstore.dublin@gmail.com</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-style logo-font" data-dismiss="modal">Understand</button>

                </div>
            </div>
        </div>
    </div>
</div>