{% extends "account/base.html" %}

{% block extra_title %} | Change Password{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="col-lg-6 mb-5">
    <hr>
    <h2 class="logo-font mt-5">{% trans "Change Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'account_reset_password' %}" class="d-block mt-3">{% trans "Forgot Password?" %}</a>
        <button type="submit" name="action"
            class="btn btn-style logo-font px-5 py-1">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}