{% extends "account/base.html" %}

{% block extra_title %} | Verify Your E-mail Address{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
<div class="col-lg-6">
    <hr>
    <h2 class="logo-font mb-4">{% trans "Verify Your E-mail Address" %}</h2>
    <hr>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. <br>
        Follow the link provided to finalize the signup
        process. If you do not see the verification e-mail in your main inbox, check your spam folder. <br>
        Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}