.book-img{
    height: 270px;
    width: 250px;
}

.book-details-img{
    max-width: 500px;
    max-height: 550px;
}

.description-text{
    line-height: 27px;
}


.fa-star,
.fa-star-half,
.fa-star-half-stroke{
    color:#d7b500;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;

}

.btn-color{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gold;
    color: #252525;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }

  
  #myBtn:hover {
    background-color: #555;
    color: white;
  }


  .sale-new-label {
    color: black;
    box-shadow: 0 0 5px #222222;
    background: gold;
    width: fit-content;
    padding: 4px 8px 2px;
    top: -12px;
    border-radius: -2px;
    right: 50px;
    position: absolute;
    z-index: 1;
    font-size: .8rem;
}


.lower-label {
    top: 22px;
}

.category-table{
    max-height: 450px;
    overflow: auto;
}

.input-div-shopping:hover input{
    color: white;
}

